<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSINT Dashboard</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <main class="wrapper">
        <div class="header">
            <div class="container">
                <a href="{{ url_for('index') }}" text-decoration: none; font-weight: bold;>OSINT Dashboard</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="column">
                    <form>
                        <fieldset>
                        <label for="userURL">URL Analysis</label>
                        <p>
                            Obtain IP, server, domain, and DNS details, along with other
                            important information, given a URL address. Assess the credibility of a
                            URL by identifying its various sources, as well as the information
                            that appears on the website. Any full-length URL is supported.
                        </p>
                        <div class="input-container">

                            <input type="text" placeholder="https://example.com" id="userURL">

                            <input class="button-primary" type="submit" value="Send">
                        </div>
                        </fieldset>
                    </form>
                </div>
                <div class="column">
                    <form>
                        <fieldset>
                        <label for="exifFile">EXIF Viewer</label>
                        <p>
                            Extract Exif data from an uploaded image. This information can
                            contain a wide of information, such as camera settings,
                            date and time information, GPS data, and other descriptive
                            information. Note that this data can be stripped when transferred
                            accross applications.
                        </p>
                        <div class="input-container">
                            <input type="file" id="exifFile" accept=".jpg,.jpeg,.png,.gif,.tiff">
                            <input class="button-primary" type="submit" value="Send">
                        </div>
                        </fieldset>
                    </form>
                </div>
                <div class="column">
                    <form>
                        <fieldset>
                        <label for="userPhone">Phone Number Analysis</label>
                        <p>
                            Recieve location, carrier, and user information associated with
                            any phone number. Identify telecommunication providers that offer
                            Voice over IP (VoIP) numbers, which are often used by scammers.
                            Our phone lookup tool also supports international numbers.
                        </p>
                        <div class="input-container">
                            <input type="tel" placeholder="16055551234" id="userPhone">
                            <input class="button-primary" type="submit" value="Send">
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <p>
                        OSINT Dashboard was developed by Andrew Flora, William Campbell, and
                        Santiago Colla.<br />
                        Github:
                        <b>
                            <a
                            href="https://github.com/campwill/osint-dashboard"
                            style="text-decoration: none; font-weight: bold"
                            >OSINT Dashboard</a>
                        </b>
                    </p>
                </div>
            </div>
        </div>
        
    </main>

  </body>
</html>
