<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSINT Dashboard</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <main class="wrapper">
        <div class="navigation">
            <div class="container">
                <a href="{{ url_for('index') }}" text-decoration: none; font-weight: bold;>OSINT Dashboard</a>
            </div>
        </div>
        <header class="header">
          <section class="container">
            <svg fill="#000000" height="300px" width="300px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 490.4 490.4" xml:space="preserve">
            <g>
              <path d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796
                s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z
                M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z"/>
            </g>
            </svg>

            <h1 class="title">OSINT Dashboard</h1>
            <p class="description">
              Web-based OSINT tool that provides URL analysis, Exif data extraction, and reverse phone lookup
            </p>
          </section>

        </header>
        <div class="container">
            <div class="row">
                <div class="column">
                    <form method="get" action="/web_tool">
                        <fieldset>
                        <label for="userURL">URL Analysis</label>
                        <p>
                            Obtain IP, server, domain, and DNS details, along with other
                            important information, given a URL address. Assess the credibility of a
                            URL by identifying its various sources, as well as the information
                            that appears on the website. Any full-length URL is supported.
                        </p>
                        <div class="input-container">

                          <input class="form-control" name="web_input1" id="web_input1" placeholder="https://example.com/" pattern="(https?:\/\/)?(www\.)?.+\..+" required />
                          <input class="button-primary" type="submit" value="Send">
                        </div>
                        </fieldset>
                    </form>
                </div>
                <div class="column">
                    <form>
                        <fieldset>
                        <label for="exifFile">EXIF Viewer</label>
                        <p>
                            Extract Exif data from an uploaded image. This information can
                            contain a wide of information, such as camera settings,
                            date and time information, GPS data, and other descriptive
                            information. Note that this data can be stripped when transferred
                            accross applications.
                        </p>
                        <div class="input-container">
                            <input type="file" id="exifFile" accept=".jpg,.jpeg,.png,.gif,.tiff">
                            <input class="button-primary" type="submit" value="Send">
                        </div>
                        </fieldset>
                    </form>
                </div>
                <div class="column">
                    <form>
                        <fieldset>
                        <label for="userPhone">Phone Number Analysis</label>
                        <p>
                            Recieve location, carrier, and user information associated with
                            any phone number. Identify telecommunication providers that offer
                            Voice over IP (VoIP) numbers, which are often used by scammers.
                            Our phone lookup tool also supports international numbers.
                        </p>
                        <div class="input-container">
                            <input type="tel" placeholder="16055551234" id="userPhone">
                            <input class="button-primary" type="submit" value="Send">
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <p>
                        OSINT Dashboard was developed by Andrew Flora, William Campbell, and
                        Santiago Colla.<br />
                        Github:
                        <b>
                            <a
                            href="https://github.com/campwill/osint-dashboard"
                            style="text-decoration: none; font-weight: bold"
                            >OSINT Dashboard</a>
                        </b>
                    </p>
                </div>
            </div>
        </div>
        
    </main>

  </body>
</html>
