<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="column">
                {{ domain }}
            </div>
            <div class="column">
                <img src="{{ favicon }}" alt="Favicon" class="img-fluid" style="width: 32px; height: 32px;">                 {{ title }}

            </div>
            <div class="column">
                {{ ip_str }}
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="col1">

                </div>
            </div>
            <div class="column">
                <div class="col2">

                </div>
            </div>
            <div class="column">
                <div class="col3">

                </div>
            </div>

        </div> 
    </div>
    <script src="static/data_stream.js"></script>
</body>
</html>
